body{
    margin:0px;
    font-family: "Noto Sans TC";
    font-style: normal;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
}
.title{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 34px;  
}
.title__word{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 34px; 
    font-size: 30px;
    font-weight: 700;
    color: #448899;
    padding-left: 10px;
    cursor: pointer;
}
.title__container{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 175px;
    height: 34px;
}
.title__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;
}
.attraction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.section{
    display: flex;
    width: 1200px;
    height: 440px;
    border-bottom: 1px solid #E8E8E8;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.attraction__image{
    position: relative;
    width: 540px;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 15px;
    overflow: hidden;
}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;  /*把四邊貼齊父層*/
    object-fit: cover;  /*圖片等比例填滿，超出的部分裁掉*/
    opacity: 0;
    transition: opacity 0.4s ease;
}
.image.active {
    opacity: 1;
}
.image__button-left{
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%); /*把自己往上拉50%*/
    left: 10px;
    opacity: 0.75;
    position: absolute;
    z-index: 2;
}
.image__button-left:hover {
    cursor: pointer;
    opacity: 1;
}
.image__button-right{
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0.75;
    position: absolute;
    z-index: 2;
}
.image__button-right:hover {
    cursor: pointer;
    opacity: 1;
}
.indicator__bar{
    display: flex;
    width: 100%;
    height: 5px;
    bottom: 0;
    position: absolute;
    z-index: 2;
}
.bar{
    flex: 1;
    height: 100%;
    background: #ffffff;
    opacity: 0.75;
}
.bar.active {
    background: #000000;
    opacity: 1;
}
.profile{
    width: 600px;
    height: 400px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 15px;
    padding-bottom: 8px;
    box-sizing: border-box;
}
.profile__name{
    display: flex;
    align-items: center;
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;
    line-height: 24px;
}
.profile__place{
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
    line-height: 13.3px;
}
.booking{
    height: 302px;
    background: #E8E8E8;
    border-radius: 5px;
    padding: 15px 20px 0px 20px;
    box-sizing: border-box;
}
.booking__word1{
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 16px;
    line-height: 13.3px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #666666;
}
.booking__word2{
    display: flex;
    align-items: center;
    height: 24px;
    line-height: 13.3px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #666666;
}
.booking__date{
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 15px;
}
.date__word{
    display: flex;
    align-items: center;
    height: 17px;
    line-height: 13.3px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
    color: #666666;
}
.input__date{
    display: flex;
    height:100%;
    width: 193px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    box-sizing: border-box;
    position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
}
.placeholder {
    position: absolute;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    pointer-events: none; /* 點擊會穿透 */
}
input[type="date"]:focus + .placeholder, /* focus是正在使用,valid是有值*/
input[type="date"]:valid + .placeholder {/* 是選type="date"的input後面的.placeholder的這個元素*/
    display: none;
}
.input__word{
    width: 149px;
    line-height: 13.3px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border: none;
    outline: none; /* 移除點擊時的外框 */
    box-sizing: border-box;
}
.date__img{
    height: 24px;
    width: 24px;
    margin-top: 1px;
    cursor: pointer;
}
.booking__time{
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #666666;
    line-height: 13.3px;
    gap: 5px;
}
.time{
    display: flex;
    align-items: center;
    height: 22px;
    width: 87px;
}
.time__word{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 13.3px;
    margin: 4px 8px 4px 4px;
}
.time__button-up{
    height: 18px;
    width: 18px;
    margin-left: 5px;
    background-color: #448899;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}
.time__button-down{
    height: 18px;
    width: 18px;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}
.booking__price{
    display: flex;
    align-items: center;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #666666;
    line-height: 13.3px;
}
.price{
    display: flex;
    align-items: center;
    height: 14px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 13.3px;
    margin: 4px 0px 4px 4px;
}
.booking__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 36px;
    padding: 10px 20px;
    background: #448899;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 41px;
    box-sizing: border-box;
    cursor: pointer;
}
.infors{
    width: 1200px;
    margin-bottom: 40px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 140%;
    margin-bottom: 20px;
}
.infors__title{
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    line-height: 13.3px;
}
.address{
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 140%;
    margin-bottom: 20px;
}
.transport{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 140%;
    margin-bottom: 80px;
}
.footer{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 104px;
    background: #757575;
}
.footer__word{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    color: #FFFFFF;
    padding: 40px 0px;
}

@media (max-width: 1200px){
.title{
    width: 600px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 900px;
}
.booking__word2{
    height: 48px;
    line-height: 140%;
}
.infors{
    width: 600px;
}
}
@media (max-width: 600px){
.title{
    width: 360px;
}
.attraction{
    margin-top: 0px;
}
.section{
    width: 360px;
    height: 800px;
}
.attraction__image{
    width: 360px;
    height: 350px;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}
.profile{
    width: 340px;
    height: 390px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
}
.booking__button{
    margin-bottom: 15px;
}
.infors{
    width: 340px;
}
.transport{
    margin-bottom: 94px;
}
}